{%extends "layout.html"%}

{%block body%}

    <div class="container">
        <form action="{{url_for('add_link')}}" method="POST">
            <div columns>
                <div class="column is-half field">
                    <label class="label"> Link original</label> 
                    <input class="input" type="text" name='url_largo'>
                </div>
            </div>

            <div class="columns">
                <div class="column is-one-quarter field">
                    <div class="control">
                        <label class="radio">Liga publica 
                            <input type="radio" id="publico" name="ligas" value="publico" checked>
                        </label> 
                        <label class="radio">Liga privada 
                            <input type="radio" id="privado" name="ligas" value="privado">
                        </label> 
                    </div>            
                </div>
                
        
                <div class="column field">
                    <label class="label">Categoria</label>
                    <div class="select is-rounded">
                        <select name="categoria">
                            <option value="Musica">Musica</option>
                            <option value="Educacion">Educacion</option>
                            <option value="Ciencia">Ciencia</option>
                        </select>
                    </div>
                </div>

            </div>
           
            
    
            <div class="control">
                <input class="button is-success" type="submit" value="Agregar">
            </div>
            
        </form>
    </div>
    

{%endblock%}