{% extends "layout.html" %}


{% block body%}

<div class="level">
    <div class="level-item">
        <div class="field">
            <h2 class="title is-4">URL reducida</h2>
            <input class="input" type="text" value="{{url_corta}}">
        </div>    
    </div>    
</div>

<div class="level">
    <div class="level-item">
        <form action="{{url_for('perfil')}}">
            <button class="button is-info">Ir al perfil</button>
        </form>
    </div>
</div>



{% endblock%}
    
