{% extends "layout.html" %}

{% block body%}

    <div class="level">
        <div class="level-item">
            <!-- Le indicamos el nombre de la función -->
            <form class="box" action="{{ url_for('perfil')}}" method="POST">
                <div class="field">
                    <div class="label">
                        <label for="">Username</label>
                    </div>
                    <div class="control">
                        <input class="input" type="text" name="username" placeholder="joe">
                    </div>                    
                </div>

                <div class="field">
                    <div>
                        <label>Password</label>
                    </div>
                    <div class="control">
                        <input class="input" type="password" placeholder="*******">
                    </div>                    
                </div>

                <div class="level">
                    <input class="level-item button is-primary" type="submit" value="Iniciar">
                </div>
            </form>        
        </div>
    </div>

    <div class="level">
        <div class="level-item">
            <form action="{{url_for('registrarse')}}" method="GET">
                <button class="button is-link">Registrarse</button>
            </form>
        </div>
    </div>    

{% endblock%}
    