<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short links</title>
</head>
<body>
    <h1>Short links</h1>

    <!-- Le indicamos el nombre de la función -->
    <form action="{{ url_for('perfil')}}" method="POST">
        <div>
            Username 
            <input type="text", name="username">
        </div>
        
        <div>
            <label>Password</label> 
            <input type="password">
        </div>
        
        <div>
            <input type="submit" value="Iniciar">
        </div>    
    </form>

    <form action="{{url_for('registrarse')}}">
        <button>Registrarse</button>
    </form>

</body>
</html>