{%extends "layout.html"%}

{%block body%}

<div class="level">
    <div class="level-item">
        <h1 class="title">Bienvenido {{username}}</h1>
    </div>
</div>
    

<div class="container">
    <div class="columns">
        <div class="column card">
            <header class="card-header">
              <p class="card-header-title">Ligas publicas</p>
            </header>
            <div class="card-content">
              <div class="content">
                    <!-- <p>{{ligas_pub}}</p> -->
                     <form action="{{url_for('eliminar_link')}}" method="post">
                      {%for categoria in ligas_pub%}
                        {% for liga in ligas_pub[categoria]%}
                        <div>
                            <input type="checkbox" id="link" name="link" value="{{liga}}"> 
                            <a href="#">{{liga}}</a>
                            <span class="tag is-link is-warning">{{categoria}}</span>
                        </div>
                        {% endfor%}
                      {% endfor %}
                      <button class="button is-danger mr-5">Eliminar link</button>
                    </form>  
              </div>
            </div>
          </div>
    
          <div class="column card">
            <header class="card-header">
              <p class="card-header-title">Ligas privadas</p>
            </header>
            <div class="card-content">
              <div class="content">

                <!-- <p>{{ligas_priv}}</p> -->
                <form action="{{url_for('eliminar_link')}}" method="post">    
                {%for categoria in ligas_priv%}
                  {% for liga in ligas_priv[categoria]%}
                    <div class="">
                      <input type="checkbox" id="link" name="link" value="{{liga}}"> 
                      <a href="#">{{liga}}</a>
                      <span class="tag is-link is-warning">{{categoria}}</span>
                    </div>     
                  {% endfor%}
                {% endfor %}     
                
                  <button class="button is-danger mr-5">Eliminar link</button>
                </form>          
                
              </div>
            </div>
          </div>
    </div>
</div>



<div class="level mt-6">
    <div class="level-item">
        <form action="{{url_for('add_link')}}">
            <button class="button is-warning mr-5">Agregar nuevo link</button>
        </form>
    
        <form action="{{url_for('tablero')}}">
            <button class="button is-info mr-5">Ir al tablero</button>
        </form>


    </div>
</div>





{%endblock%}