{%extends "layout.html" %}

{%block body %}

<div class="container">
    <div class="columns">
        <form class="column is-half" action="{{url_for('registrarse')}}" method="POST">
            <div class="field">
                Username <input class="input" type="text" name="username" placeholder="Ingrese su username">             
            </div>

            <div class="field">
                Nombre <input class="input" type="text" name="nombre" placeholder="Ingrese su nombre">             
            </div>
            
            <div class="field">
                Password <br>
                <input class="input" type="password" name="password" placeholder="*******">
            </div>
    
            <input class="button is-success"type="submit" value="Registrarse">
        </form>
    </div>

</div>
    

{%endblock%}