<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortlinks</title>
</head>
<body>
    
    <form action="{{url_for('registrarse')}}" method="POST">
        <div>
            Username <input type="text" name="username" placeholder="Ingrese su nombre"> 
            Age <input type="numbers" name="age">
        </div>
        
        <div>
            Password <br>
            <input type="password" name="password">
        </div>

        <input type="submit" value="Registrarse">

    </form>

</body>
</html>