<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Ligas publicas más populares {{ligas_publicas}}</h1>
    <ul>
        <li>Liga 1</li>
        <li>Liga n</li>
    </ul>

    <h2>Categoria 1</h2>
    <ul>
        <li>Liga 1</li>
        <li>Liga n</li>
    </ul>

    <form action="{{url_for('perfil')}}">
        <button>Ir a perfil</button>
    </form>
</body>
</html>