{%extends "layout.html"%}

{%block body%}
<div class="container">
    <div class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd">
        <div class="column card">
            <header class="card-header">
              <p class="card-header-title">Ligas públicas más populares</p>
            </header>
            <div class="card-content">
              <div class="content">
                <ul>
                    <li><a href="#">https://bit.ly/36Yvv9W</a>
                        <span class="tag is-link is-warning">Musica</span></li>
                </ul>              
              </div>
            </div>
          </div>
    
          <div class="column card">
            <header class="card-header">
              <p class="card-header-title">Categoria 1</p>
            </header>
            <div class="card-content">
              <div class="content">
                <ul>
                    <li><a href="#">https://bit.ly/36Yvv9W</a> 
                        <span class="tag is-link is-info">Ciencia</span></li>
                </ul>              
              </div>
            </div>
          </div>

          <div class="column card">
            <header class="card-header">
              <p class="card-header-title">Categoria 2</p>
            </header>
            <div class="card-content">
              <div class="content">
                <ul>
                    <li><a href="#">https://bit.ly/36Yvv9W</a> 
                        <span class="tag is-link is-info">Ciencia</span></li>
                </ul>              
              </div>
            </div>
          </div>
    </div>
</div>

<div class="level  mt-6">
    <div class="level-item">
        <form action="{{url_for('perfil')}}">
            <button class="button is-info">Ir a perfil</button>
        </form>
    </div>
</div>


{%endblock%}